# local instantiation
bin/
include/
lib/
share/
etc/
.DS_Store

# latex
*.aux
*.fdb*
*.bbl
*.blg
*.brf
*.fls
*.log
*.synctex.gz

# other ignores
data/images_bin/
data/images_spec/
models/
# models/ConvNextClassifierFC.pt
# models/ConvNextClassifierOneLayer.pt
# models/ResnetClassifierFC.pt
# models/SoftmaxClassifier.pt
# models/HingeClassifier.pt
# models/ThreeLayerCNN.pt
# models/TwoLayerFC.pt
# models/TransformerClassifierFC.pt

# notebook checkpoints
.ipynb_checkpoints
